[user]
	name = Nelson Efrain A. Cruz
	email = neac03@gmail.com
[github]
	user = nerones
[core]
	editor = vim
[diff]
	guitool = meld
	tool = meld
[alias]
	l = log --oneline --decorate --graph --all
        d = diff --word-diff -w
        fo = fetch origin
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
